* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    padding: 32px;
}

.grid-container {
    column-count: 4;
    column-gap: 8px;
    padding: 0 4px;
}

.grid-item {
    break-inside: avoid;
    margin-bottom: 8px;
    position: relative;
    overflow: hidden; /* Ensure overflow is hidden for the blur effect */
}

.grid-item img {
    width: 100%;
    display: block;
    transition: filter 0.5s ease, opacity 0.5s ease;
    filter: blur(20px); /* Initial blur */
    opacity: 0.5;
}

.grid-item img.loaded {
    filter: none; /* Remove blur when image is loaded */
    opacity: 1;
}

/* Fullscreen icon */
.grid-item .fullscreen-icon {
    position: absolute;
    top: 9px;
    right: 8px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 22px; /* Set the width and height to be equal */
    height: 22px;
    border-radius: 5px; /* Adjust border-radius as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.lightbox .close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.lightbox .close:hover,
.lightbox .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Responsive layout */
@media screen and (max-width: 800px) {
    .grid-container {
        column-count: 2;
    }
}

@media screen and (max-width: 600px) {
    .grid-container {
        column-count: 1;
    }
}

.float {
    position: fixed;
     z-index: 999;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.float i {
    margin-top: 22px;
}
